# HW04 Questions

In [3]:
import pandas as pd
import numpy as np

## Problem 1
Create a function `load_employees` that loads the employees table from the path where
the file  `Employees.xls` is in your computer and sets the index of the DataFrame to the `EmployeeID`. The function should return a table with the `EmployeeID` as the index and the remaining 25 columns.

Arguments:
-  a DataFrame: Employee Table

Returns:
-  a DataFrame with index of 'EmployeeID'

After you define the fucntion,call the function and print:

Number of rows\
Number of columns\
Head of 10 index \
Record of employ with ID=999

In [7]:
def load_employees():
    employeeFile = pd.read_excel('Employees.xls', index_col='EmployeeID')
    return employeeFile

In [8]:
file = load_employees()

In [9]:
file

,ManagerID,TerritoryID,Title,FirstName,MiddleName,LastName,Suffix,JobTitle,NationalIDNumber,BirthDate,...,SickLeaveHours,PhoneNumber,PhoneNumberType,EmailAddress,AddressLine1,AddressLine2,City,StateProvinceName,PostalCode,CountryName
EmployeeID,,,,,,,,,,,,,,,,,,,,,
259,250.0,NaN,NaN,Ben,T,Miller,NaN,Buyer,20269531,1967-07-05,...,47,151-555-0113,Work,ben0@adventure-works.com,101 Candy Rd.,NaN,Redmond,Washington,98052,United States
278,274.0,6.0,NaN,Garrett,R,Vargas,NaN,Sales Representative,234474252,1969-03-07,...,36,922-555-0165,Work,garrett1@mapleleafmail.ca,10203 Acorn Avenue,NaN,Calgary,Alberta,T2P 2G8,Canada
204,26.0,NaN,NaN,Gabe,B,Mares,NaN,Production Technician - WC40,440379437,1982-06-11,...,48,310-555-0117,Work,gabe0@adventure-works.com,1061 Buskrik Avenue,NaN,Edmonds,Washington,98020,United States
78,26.0,NaN,NaN,Reuben,H,D'sa,NaN,Production Supervisor - WC40,370989364,1981-09-27,...,56,191-555-0112,Work,reuben0@adventure-works.com,1064 Slow Creek Road,NaN,Seattle,Washington,98104,United States
255,250.0,NaN,NaN,Gordon,L,Hee,NaN,Buyer,466142721,1960-12-30,...,46,230-555-0144,Cell,gordon0@adventure-works.com,108 Lakeside Court,NaN,Bellevue,Washington,98004,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,26.0,NaN,NaN,Eugene,O,Kogan,NaN,Production Technician - WC60,66073987,1970-03-13,...,38,173-555-0179,Cell,eugene1@hotmail.com,991 Vista Verde,NaN,Duvall,Washington,98019,United States
202,26.0,NaN,NaN,Tawana,G,Nusbaum,NaN,Production Technician - WC40,436757988,1983-12-12,...,45,368-555-0113,Work,tawana0@adventure-works.com,9964 North Ridge Drive,NaN,Seattle,Washington,98104,United States
289,287.0,10.0,NaN,Jae,B,Pak,NaN,Sales Representative,668991357,1962-04-18,...,38,1 (11) 500 555-0145,Work,jae0@aol.co.uk,Downshire Way,NaN,Cambridge,England,BA5 3HX,United Kingdom
288,287.0,8.0,NaN,Rachel,B,Valdez,NaN,Sales Representative,954276278,1969-08-09,...,37,1 (11) 500 555-0140,Cell,rachel0@adventure-works.com,Pascalstr 951,NaN,Berlin,Hamburg,14111,Germany
999,1.0,NaN,NaN,Chadwick,NaN,Smith,NaN,BI Professor,123456789,1967-07-05,...,47,555-887-9788,Work,chadwick.smith@rentpath.com,565 Peachtree Rd.,NaN,Atlanta,Georgia,30084,United States

## Problem 2
Define a function `getFullName` which takes the employees table from your first function in #1 and a single employee ID as arguments, and returns a string with the full name of the employee in the format "LAST, FIRST MIDDLE".
If the given ID does not belong to any employee return the string "UNKNOWN" (in all caps)
If no middle name is given only return "LAST, FIRST". Make sure there are not trailing spaces!
If only the middle initial is given the return the full name in the format "LAST, FIRST M".

Arguments:
- df (DataFrame): Employee Table
- empid (int):  Employee ID

Returns:
- String with full name

In [38]:
def getFullName(dataFrame, employeeID):
    if employeeID in dataFrame.index:
        string = dataFrame.loc[employeeID].LastName + ", " + dataFrame.loc[employeeID].FirstName + " "
        if pd.isna(dataFrame.loc[employeeID].MiddleName):
            return string
        else:
            string = string + dataFrame.loc[employeeID].MiddleName
            return string
    else:
        return "UNKNOWN"

### After you finish defining your function, get full name for employee id 259

In [39]:
print(getFullName(file,259))

Miller, Ben T

### After you finish defining your function, get full name for employee id 274, 999, 102, but do not call the function one by one.
### Print them as:
274, "Jiang, Stephen Y"\
999, "Smith, Chadwick nan"\
102, "Mu, Zheng W"

In [40]:
print('274, ' + '\"' + getFullName(file,274) + '\"' +
      '\n999, ' + '\"' + getFullName(file,999) + '\"' +
      '\n102, ' + '\"' + getFullName(file,102) + '\"')

274, "Jiang, Stephen Y"
999, "Smith, Chadwick "
102, "Mu, Zheng W"

## Problem 3
Define a function `isSales` that takes the job title of an employee as string as an argument and return either `True` if the job title indicates this person works in sales, and `False` otherwise.

Argument:
- jobtitle (str)

Returns:
- True or False

In [43]:
def isSales(jobTitle):
    lowerJobTitle = jobTitle.lower()
    if 'sale' in lowerJobTitle:
        return True
    else:
        return False

### After defining your function, check if these job tiles are sales job:'Chief Data Scientist', 'Sales Manager', 'Vice President of Sales'. 
If it is a sales job, print the job title + 'is part of the Sales Department.'; if not, print the job title + 'belongs to a different department.'

In [51]:
def salesDepartment(jobTitle):
    if isSales(jobTitle):
        print(jobTitle + ' is part of the Sales Department')
    else:
        print(jobTitle + ' belongs to a different department')

In [52]:
salesDepartment('Chief Data Scientist')
salesDepartment('Sales Manager')
salesDepartment('Vice President of Sales')

Chief Data Scientist belongs to a different department
Sales Manager is part of the Sales Department
Vice President of Sales is part of the Sales Department

## Problem 4
Define a function `filterSales` with the employee tables as an argument, that returns a new table of the same column_names and row_names containing only row of sales people. You should use the `isSales` function from the previous problem.

Arguments:
- employees (DataFrame)

Returns:
- DataFrame with only people from the Sales Department

## Hints:
### for loops in DataFrame
* step 1 loop through the rows
    * pick out job title, then call function isSales
    * if true:
        * store in the new DF


### make it better
* apply -- for loop on DF & PD.Series
* map -- for loop on PD.Series
* applymap -- for loop on elements of DF & PD.Series  -- much less used because it is VERY slow

In [60]:
def filterSales(dataFrame):
    sales = dataFrame.apply(lambda x: isSales(x['JobTitle']), axis=1)
    salesDataFrame = dataFrame[sales]
    return salesDataFrame

### After you define the fuction, call the function and print:
Number of row\
Number of columns\
Head of 10 index\
Record of sales employee with ID=280

In [61]:
salesData = filterSales(file)

In [68]:
print('number of rows: ' + str(len(salesData.index)))
print('number of columns: ' + str(len(salesData.columns)))

number of rows: 18
number of columns: 25

In [69]:
salesData.head(10)

,ManagerID,TerritoryID,Title,FirstName,MiddleName,LastName,Suffix,JobTitle,NationalIDNumber,BirthDate,...,SickLeaveHours,PhoneNumber,PhoneNumberType,EmailAddress,AddressLine1,AddressLine2,City,StateProvinceName,PostalCode,CountryName
EmployeeID,,,,,,,,,,,,,,,,,,,,,
278,274.0,6.0,NaN,Garrett,R,Vargas,NaN,Sales Representative,234474252,1969-03-07,...,36,922-555-0165,Work,garrett1@mapleleafmail.ca,10203 Acorn Avenue,NaN,Calgary,Alberta,T2P 2G8,Canada
283,274.0,1.0,NaN,David,R,Campbell,NaN,Sales Representative,987554265,1968-03-14,...,31,740-555-0182,Work,david8@adventure-works.com,2284 Azalea Avenue,NaN,Bellevue,Washington,98004,United States
274,273.0,NaN,NaN,Stephen,Y,Jiang,NaN,North American Sales Manager,502097814,1945-11-17,...,27,238-555-0197,Cell,stephen0@adventure-works.com,2427 Notre Dame Ave.,NaN,Redmond,Washington,98052,United States
276,274.0,4.0,NaN,Linda,C,Mitchell,NaN,Sales Representative,191644724,1974-03-30,...,33,883-555-0116,Work,linda3@adventure-works.com,2487 Riverside Drive,NaN,Nevada,Utah,84407,United States
286,285.0,9.0,NaN,Lynn,N,Tsoflias,NaN,Sales Representative,758596752,1965-04-18,...,38,1 (11) 500 555-0190,Cell,lynn0@adventure-works.com,34 Waterloo Road,NaN,Melbourne,Victoria,3000,Australia
284,274.0,1.0,Mr.,Tete,A,Mensa-Annan,NaN,Sales Representative,90836195,1972-02-06,...,39,615-555-0153,Work,tete0@adventure-works.com,3997 Via De Luna,NaN,Cambridge,Massachusetts,02139,United States
287,273.0,NaN,NaN,Amy,E,Alberts,NaN,European Sales Manager,982310417,1951-10-22,...,30,775-555-0164,Work,amy0@yahoo.com,5009 Orange Street,NaN,Renton,Washington,98055,United States
281,274.0,4.0,NaN,Shu,K,Ito,NaN,Sales Representative,139397894,1962-04-10,...,33,330-555-0120,Cell,shu0@adventure-works.com,5725 Glaze Drive,NaN,San Francisco,California,94109,United States
280,274.0,1.0,NaN,Pamela,O,Ansman-Wolfe,NaN,Sales Representative,61161660,1969-01-06,...,31,340-555-0193,Cell,pamela0@yahoo.com,636 Vine Hill Way,NaN,Portland,Oregon,97205,United States
285,273.0,NaN,Mr.,Syed,E,Abbas,NaN,Pacific Sales Manager,481044938,1969-02-11,...,30,926-555-0182,Work,syed0@yahoo.com,7484 Roundtree Drive,NaN,Bothell,Washington,98011,United States

In [70]:
salesData.loc[280]

ManagerID                             274
TerritoryID                             1
Title                                 NaN
FirstName                          Pamela
MiddleName                              O
LastName                     Ansman-Wolfe
Suffix                                NaN
JobTitle             Sales Representative
NationalIDNumber                 61161660
BirthDate                      1969-01-06
MaritalStatus                           S
Gender                                  F
HireDate              2005-10-01 00:00:00
SalariedFlag                            1
VacationHours                          22
SickLeaveHours                         31
PhoneNumber                  340-555-0193
PhoneNumberType                      Cell
EmailAddress            pamela0@yahoo.com
AddressLine1            636 Vine Hill Way
AddressLine2                          NaN
City                             Portland
StateProvinceName                  Oregon
PostalCode                          97205
CountryName                 United States
Name: 280, dtype: object

## Problem 5 
Define a function managementCounts which produces a Series of how many employees report to a manager. The Series is indexed by the ManagerID, the count should be performed on the unique EmployeeID. The resulting Series should be order by the number of employees in descending order.

Arguments:

- employees (DataFrame)

Returns:

- Series of counts (int), indexed by ManagerID

In [100]:
def managementCounts(dataFrame):
    managers = dataFrame.reset_index().groupby('ManagerID')
    managerEmployees = dataFrame['ManagerID'].value_counts().sort_values(ascending=False)
    return managerEmployees

In [101]:
managementCounts(file)

26.0     178
25.0      30
250.0     17
274.0     10
249.0      9
263.0      9
16.0       8
1.0        8
227.0      6
235.0      5
234.0      3
273.0      3
287.0      3
285.0      1
Name: ManagerID, dtype: int64